#root {
  margin: 0 auto;
}

.table {
  display: block;
  overflow-x: auto;
  overflow-y: scroll;
  overscroll-behavior-x: none; 
  height: 50vh;
  white-space: nowrap;
}

.card-header {
  height: 5vh;
}

.panel {
  height: 20vh;
  overflow-y: scroll;
}

.custom-select-container {
  width: 170px; /* Adjust the width as needed */
  padding: 1px; /* Optional padding for better aesthetics */
  display: inline-block;
}

.custom-input-container {
  width: 170px; /* Adjust the width as needed */
  padding: 1px; /* Optional padding for better aesthetics */
  display: inline-block;
}

.custom-button-container {
  padding: 1px; /* Optional padding for better aesthetics */
  display: inline-block;
}

/* Incase I want to use in future: */
/* border border-medium rounded bg-light */