#root {
  margin: 0 auto;
}

table {
  display: block;
  overflow-x: auto;
  overflow-y: scroll;
  overscroll-behavior-x: none; 
  max-height: 67vh;
  white-space: nowrap;
}

.filter-list {
  height: 15vh;
  overflow-y: scroll;
}

.custom-select-container {
  width: 200px; /* Adjust the width as needed */
  padding: 1px; /* Optional padding for better aesthetics */
  display: inline-block;
}

.custom-input-container {
  width: 200px; /* Adjust the width as needed */
  padding: 1px; /* Optional padding for better aesthetics */
  display: inline-block;
}

.custom-button-container {
  padding: 1px; /* Optional padding for better aesthetics */
  display: inline-block;
}

