#root {
  margin: 0 auto;
 
}

.body {
  padding: 2rem;
  padding-top: 1rem;
}

.header {
  padding: 0.5rem; 
  padding-left: 2rem;
 }
 

table {
  display: block;
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: scroll;
  min-height: auto;
  max-height: 70vh;
  min-width: auto;
  max-width: fit-content;
  white-space: nowrap;
}

.custom-select-container {
  width: 200px; /* Adjust the width as needed */
  padding: 1px; /* Optional padding for better aesthetics */
  display: inline-block;
}

.custom-input-container {
  width: 200px; /* Adjust the width as needed */
  padding: 1px; /* Optional padding for better aesthetics */
  display: inline-block;
}

.custom-button-container {
  padding: 1px; /* Optional padding for better aesthetics */
  display: inline-block;
}